.homePage {
    width: 100%;
    height: calc(100vh - 80px);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.homePage .postContents {
    width: 600px;
    height: auto;
    max-height: 600px;
    background-color: white;
    box-shadow: 14px 9px 29px -13px #5c5c5c;
    border-radius: 6px;
    margin: 20px;
    padding: 20px;

}

.postHeader h1 {
    text-align: center;
}

.postContents .postTextContainer {
    height: auto;
    word-wrap: break-word;
    max-height: 400px;
    width: 100%;
}

.nameAndDeleteButton {
    display: flex;
    align-items: center;
}

.nameAndDeleteButton button {
    flex: 10%;
    background-color: #00213b;
    border: none;
    color: white;
    padding: 7px 15px;
    cursor: pointer;
    border-radius: 3px;
    transition: all 0.3s;
}

.nameAndDeleteButton button:hover {
    color: aqua;
    transform: translateY(3px);
}

.nameAndDeleteButton h3 {
    flex: 90%;
}